.settings-icon {
    display: inline-block;
    background-image: url('../icons/settings.svg');
    height: 24px;
    width: 24px;
}

.logout-icon {
    display: inline-block;
    background-image: url('../icons/logout.svg');
    height: 24px;
    width: 24px;
}

.assignment-icon {
    display: inline-block;
    background-image: url('../icons/assignment.svg');
    height: 24px;
    width: 24px;
}
