$container-width: 1200px;
$xsmall-space: 2px;
$small-space: 8px;
$default-space: 16px;
$font-size-default: 16px;
$font-size-large: 24px;
$header-color: #0c00f3;
$primary-color: #333333;
$red: red;
$blue: blue;
$white: white;
$success: #2e7d32;
$aquamarine: aquamarine;
$darkmagenta: darkmagenta;
$item-color: #c2e6fe;
